.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tableRow {
  height: 50px;
  margin: atuo;
  text-align: center;
}
.tableBox {
  margin: auto;
  text-align: center;
}
.personBox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border-color: rgb(53, 53, 53);
  border-width: 1px;
  border-style: solid;
  text-align: center;
  max-width: 200px;
  min-height: 200px;
}
.personLink, .personLink * {
  color: darkblue;
  text-decoration: underline;
}
.inspectButton {
  margin-left: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
