.personBox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.personLink, .personLink * {
  color: darkblue;
  text-decoration: underline;
}
.inspectButton {
  margin-left: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}